:root {
  box-shadow: rgba(100, 40, 239, 0.16) 0px 1px 10px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Sansita', sans-serif;

}

body {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #F5F7Fa;
}

header {
  margin: 20px auto;
  background-color: #2f1b5c;
 

}

.container {
  margin: auto;
  padding: 0px 0px;
}

header .navbar {
  display: block;
  text-align: center;
  min-height: 80px;
  padding: 0px 0px;
  border-bottom: 1px solid #0000001a;
}

header .navbar .title-h {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70px;
  padding: 0px 20px;
  border-bottom: 1px solid #0000001a;
  
}


header .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #FFFFFF;
  transition: all 0.3s ease-in-out;
  
}


header .navbar .h {
  display: block;
  cursor: pointer;
}

header .navbar .hamburger.open>span {
  display: none;
}

header .navbar .hamburger.open::before {
  content: "❌";
}

header .nav-items {
  background-color: #2f1b5c ;
  display: none;
  list-style: none;
  justify-content: space-between;
}

header .nav-items.open {
  display: flex;
  flex-direction: column;
}


h1  {
  color: rgb(242, 242, 132);
}


header .nav-items li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #FFFFFF;

}

header .nav-items li a:hover {
  font-weight: 700;
  background-color: #2f1b5c;
  text-decoration:underline;
  
      
}

main .container .temples h2 {
  text-align: center;
  padding: 20px;

}



main .container .temples .images-temples {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  place-items: center;
  text-align: center;
}

main .container .temples .images-temples img {
  width: 400px;
  border-radius: 5px;
  

}

main .container .temples .images-temples img:hover {
  box-shadow: 0 0 50px #cfee35;
  
}

footer {
  margin: 20px auto;
  background-color: #2f1b5c ;
  color: #FFFFFF;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
  
}

footer #lastModified {
  color: yellow;
}